{% extends "base_generic.html" %}

{% block content %}

<!-- this template is based on
https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Generic_views
-->

  <h1>Title: {{ property.address }}</h1>

  <p><strong>Country:</strong> {{ property.country.name }}</p>
  <!-- author detail link not yet defined -->
  <p><strong>City:</strong> {{ property.city }}</p>
  <p><strong>Succah:</strong> {{ property.succah }}</p>
  <p><strong>Passover kitchen:</strong> {{ property.passover_kitchen }}</p>

  {% load static %}
  {% for image in property.image_set.all %}
  <li>
    <img src="{{image.image.url}}"/>
  </li>
  {% endfor %}

{% endblock %}
