{% extends "base_generic.html" %}

{% block content %}

<!-- this template is based on
https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Generic_views
href="{{ property.get_absolute_url }}"
-->

  <h1>Property List</h1>

  <!-- Date Filter Form -->
  <form method="get" action="">
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="{{ request.GET.start_date }}">

    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="{{ request.GET.end_date }}">

    <button type="submit">Filter</button>
  </form>

  {% if property_list %}
    <ul>
      {% for property in property_list %}
      <li>
        <a href="{{ property.get_absolute_url }}">{{ property.address }}</a>
        (Owner: {{property.owner}}
         Kashrut: {{property.owner.profile.kashrut}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no properties registered.</p>
  {% endif %}

{% endblock %}
