<!DOCTYPE html>
<!-- This template is copied from -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Home_page -->
<!-- include CSS from Bootstrap to improve the layout and presentation of the HTML page -->
<html lang="en">
  <head>
    {% block title %}
    <title>Kswap</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
          <ul class="sidebar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'logout' %}?next={{ request.path }}"
                >Logout {{ user.get_username }}</a
              >
            </li>
            <li><a href="{% url 'update_profile' %}">Update profile</a></li>
            <li><a href="{% url 'user_dashboard' %}">User dashboard</a></li>
            <li>
              <a href="{% url 'property_registration' %}"
                >Register a property</a
              >
            </li>
            {% if pending_requests_count > 0 %}
            <li>
                <a href="{% url 'pending_bookings' %}?next={{ request.path }}">Swap requests</a>
            </li>
            {% endif %}
            
            {% if your_next_escapes_count > 0 %}
            <li>
                <a href="{% url 'your_next_escapes' %}?next={{ request.path }}">Your next escapes</a>
            </li>
            {% endif %}

            <li><a href="{% url 'property_search' %}">Property search</a></li>
            <li><a href="">Leave a review</a></li>
            {% else %}
            <li>
              <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
            </li>
            <li><a href="{% url 'property_search' %}">Property search</a></li>
            {% endif %}
          </ul>
          {% endblock %}
        </div>
        <div class="col-sm-10">{% block content %}{% endblock %}</div>
      </div>
    </div>
  </body>
</html>
