{% extends "base_generic.html" %} {% block content %}
<h1>Kswap</h1>
<p>
  {% if user.is_authenticated %} Welcome {{ user.get_username }}! {% else %}
  {%endif %}
</p>
<p>Welcome to kswap, your gateway to totally free holiday accommodation!</p>

<ul>
  <li>
    <strong>There are </strong> {{ num_properties }}
    <strong> Properties available</strong>
  </li>
  <li>
    <strong>We are trusted by </strong> {{ num_users }}
    <strong> users</strong>
  </li>
  <li>
    <strong>We support </strong> {{ num_kashrut }}
    <strong>Kashrut authorities </strong>
  </li>
</ul>
{% endblock %}
