{% extends "base_generic.html" %}

{% block content %}
 
{% for booking in bookings %}
    <div>
        <strong>Their Property:</strong>
        <a href="{% url 'property_detail' booking.my_property.id %}">{{ booking.my_property.address  }}</a>
        <br>
        <strong>Your Property They Want:</strong>
        <a href="{% url 'property_detail' booking.property.id %}">{{booking.property.address }}</a>
        <br>
        {{ booking.date_from }} - {{ booking.date_to }}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="booking_id" value="{{ booking.id }}">        </form>
    </div>
{% endfor %}

{% endblock %}
